[
 {sasl,   [{sasl_error_logger, {file, "faxien.sasl_log"}}]},

 {gas,
  [
   {mod_specs, [{elwrap, {ewl_elwrap_h, start_link}}]},

   % elwrap config.
   {err_log, "faxien.err_log"},
   {err_log_wrap_info, {{err,5000000,10},{sasl,5000000,10}}},
   {err_log_tty, false}
  ]
 },

 {epkg, 
  [
	{installation_path, "/usr/local/erlware/"},
	{is_local_boot, false},
	{initialized, false}
  ]
 },

 {faxien, 
  [
	{repos_to_fetch_from, ["http://repo.erlware.org/pub", "http://repo.martinjlogan.com/pub"]},
	{repos_to_publish_to, ["http://repo.erlware.org/writable", "http://repo.martinjlogan.com/pub"]},
	{request_timeout, 35000},
	{installation_path, "/usr/local/erlware/"},
	{is_local_boot, false},
	{initialized, false}
  ]
 }
]. 

