[
 {sasl,   [{sasl_error_logger, {file, "/tmp/faxien.sasl_log"}}]},

 {gas,
  [
   {mod_specs, [{elwrap, {ewl_elwrap_h, start_link}}]},

   % elwrap config.
   {err_log, "/tmp/faxien.err_log"},
   {err_log_wrap_info, {{err,5000000,10},{sasl,5000000,10}}},
   {err_log_tty, false}
  ]
 },

 {epkg, 
  [
	{target_erts_vsn, "5.5.5"},
	{is_local_boot, false}
  ]
 },

 {faxien, 
  [
	{repos_to_fetch_from, ["http://repo.erlware.org/pub", "http://repo.martinjlogan.com/pub"]},
	{repos_to_publish_to, ["http://repo.erlware.org/writable", "http://repo.martinjlogan.com/pub"]},
	{request_timeout, 35000},
	{is_local_boot, false}
  ]
 }
]. 

