{control,"faxien",
         [{package_owner,"Martin Logan"},
          {package_owner_email,"martinjlogan@erlware.org"},
          {categories,["tool"]},
          {description,"<p><img src=\"http://www.martinjlogan.com/images/Icon-faxien3-with-text.jpg\"/> is the package manager for Erlang OTP.<br/> Think apt-get or ruby gem for Erlang/OTP elegant Erlang/OTP package management which at its heart comes down to two things; allow users to easily find and install OTP packages and allow users to easily publish their own work so others can benefit from it.</p><p>Faxien deals with two distinct types of packages. The first is the OTP application which consists of src, ebin, etc... The second is an OTP release which is essentially a standalone erlang service comprised of a number of applications combined with configuration, .script and .boot files, and executable scripts.</p></p>"},
          {author,"Martin Logan"},
          {authors_email,"martinjlogan@erlware.org"},
          {keywords,["faxien",
                     "erlware",
                     "OTP",
                     "package management",
                     "package",
                     "manager"]},
          {project_page,"http://www.erlware.org/tools/faxien/index.html"}]}.

